html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #ffff99;
}
form {
  background-color: #00ccff;
  font-style: italic;
  height: 320px;
}
table {
  text-align: left;
}
.longbox {
  width: 200px;
}
